/* custom styles */

header h1 {
  float:left;
  margin: 0;
}

li {
  display: block;
  float: right;
  padding: 10px;
}

section {
  clear:both;
}

.home-image {
  /*this centers horiztontally and vertically*/
     position: absolute;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%)
}
